.header {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header::before {
    filter: blur(2px);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: url('../assets/us.jpg');
    background-size: cover;
    background-position-x: center;
}

.header .titles {
    margin-top: 20%;
    background-color: var(--primary-color);
    padding-block: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 10px 1px #50505080;
}

.header .titles .subtitle {
    font-size: 1.2em;
    border-bottom: 1px solid #eee;
    width: 40%;
    padding-bottom: .4em;
    text-align: center;
    color: #eee;
    margin-top: 2em;
}

.header .counter {
    padding: 1em;
    margin-top: 95%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    place-items: center;
}

.header .counter div {
    display: flex;
    flex-direction: column;
}

.header .counter .number {
    background-color: var(--primary-color-transparent);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    color: #eee;
    font-size: 1.5em;
    font-weight: 400;
}

.header .counter .description {
    color: #eee;
    font-size: .8em;
    font-weight: 400;
    text-align: center;
    margin-top: 5px;
}

@media screen and (max-height: 699px) {
    .header .counter {
        margin-top: 70%;
    }
}