.main-step-three {
    margin-top: 15%;
}

.main-step-three-gift {
    background-color: var(--primary-color);
    padding: 2em;
    text-align: center;
}

.main-step-three-gift p {
    font-size: 1.2em;
    color: #eee;
}

.main-step-three-gift button {
    margin-top: 1em;
}

.main-step-three-gift img {
    width: 25%;
    margin-bottom: 1em;
}

.main-step-three-dresscode {
    background-color: #eee;
    padding: 2em;
    text-align: center;
}

.main-step-three-dresscode p {
    font-size: 1.2em;
    color: var(--primary-color);
    margin-top: 1em;
    text-align: center;
}

.main-step-three-dresscode img {
    width: 40%;
    margin-top: 1em;
}


.main-step-three-dresscode p:nth-child(2) {
    font-weight: bold;
}

.main-step-three-music {
    background-color: var(--primary-color);
    padding: 2em;
    text-align: center;
}

.main-step-three-music img {
    width: 25%;
}

.main-step-three-music p {
    font-size: 1.2em;
    color: #eee;
    margin-block: 1em;
}

.main-step-three-music button {
    font-size: 1em;
}

.main-step-three-confirm {
    padding: 2em;
    text-align: center;
}

.main-step-three-confirm {
    padding: 15% 2em;
    margin: 0 auto;
    border: 2px solid var(--primary-color);
    position: relative;
    z-index: 5;
}

.main-step-three-confirm::before {
    filter: blur(2px) opacity(85%) grayscale(80%);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: url(../assets/7.jpg);
    background-size: cover;
    z-index: -10;
}

.main-step-three-confirm button {
    margin-top: 4em;
    font-size: 1em;
}

.main-step-three-confirm p {
    text-align: center;
    font-size: 1.2em;
    color: #eee;
    line-height: 1.5em;
}

.main-step-three-selected-gift {
    background-color: #eee;
    padding: 2em;
}

.main-step-three-selected-gift h3 {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 1em;
}

.main-step-three-selected-gift .gift {
    color: var(--primary-color);
    font-size: 1.2em;
}

.main-step-three-selected-gift .gift-image {
    width: 25%;
}

.main-step-three-selected-gift .gift p {
    margin-top: 1em;
}

.main-step-three-selected-gift .actions {
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

.main-step-three-selected-gift .actions .delete, .main-step-three-selected-gift .actions .edit {
    color: var(--primary-color);
    font-size: 2em;
    margin-inline: 10px;
}