.main-step-two {
    margin-top: 15%;
}

.main-step-two > div {
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 1em;
    position: relative;
    place-items: center;
    padding: 1em;
}

.main-step-two > div > div {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.main-step-two h2 {
    font-size: 2em;
    margin-top: 1em;
    text-align: center;
    color: var(--primary-color);
}

.image-1 {
    width: 45vw;
    height: 45vw;
    background: url('../assets/1.jpg');
    background-size: cover;
    background-position-x: center;
}

.image-2 {
    width: 45vw;
    height: 45vw;
    background: url('../assets/2.jpg');
    background-size: cover;
}

.image-3 {
    width: 45vw;
    height: 45vw;
    background: url('../assets/3.jpg');
    background-size: cover;
}

.image-4 {
    width: 45vw;
    height: 45vw;
    background: url('../assets/4.jpg');
    background-size: cover;
}

.image-5 {
    width: 45vw;
    height: 45vw;
    background: url('../assets/5.jpg');
    background-size: cover;
}

.image-6 {
    width: 45vw;
    height: 45vw;
    background: url('../assets/6.jpg');
    background-size: cover;
}