.main-step-one {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-block: 45%;
    position: relative;
    box-shadow: 1px 1px 5px 1px #bbbbbb80;
}

.hojas-1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 15%;
    transform: rotate(180deg);
    filter: opacity(75%) grayscale(50%);
}

.hojas-2 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30%;
    height: 15%;
    filter: opacity(75%) grayscale(50%);
}

.main-step-one div {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.main-step-one div h2 {
    text-align: center;
    color: var(--primary-color);
}

.main-step-one div p {
    text-align: center;
}

.main-step-one div button {
    display: flex;
    margin: 0 auto;
}