.main-step-three {
    margin-top: 15%;
}

.main-step-three-gift {
    background-color: var(--primary-color);
    padding: 2em;
    text-align: center;
}

.main-step-three-gift p {
    font-size: 1.2em;
    color: #fff;
}

.main-step-three-gift button {
    margin-top: 1em;
}

.main-step-three-gift img {
    width: 25%;
    margin-bottom: 1em;
}

.main-step-three-dresscode {
    background-color: #fff;
    padding: 2em;
    text-align: center;
}

.main-step-three-dresscode p {
    font-size: 1.2em;
    color: var(--primary-color);
    margin-top: 1em;
    text-align: center;
}

.main-step-three-dresscode img {
    width: 40%;
    margin-top: 1em;
}


.main-step-three-dresscode p:nth-child(2) {
    font-weight: bold;
}

.main-step-three-music {
    background-color: var(--primary-color);
    padding: 2em;
    text-align: center;
}

.main-step-three-music img {
    width: 25%;
}

.main-step-three-music p {
    font-size: 1.2em;
    color: #fff;
    margin-top: 1em;
}

.main-step-three-music input {
    display: flex;
    border-radius: 100px;
    border: 1px solid #fff;
    color: #fff;
    padding: .5em 1em;
    outline: none;
    background-color: transparent;
    margin: 1em auto;
    font-size: 1.2em;
}

.main-step-three-music input::placeholder {
    color: #ddd;
}

.main-step-three-confirm {
    padding: 2em;
    text-align: center;
}

.main-step-three-confirm {
    padding: 15% 2em;
    margin: 0 auto;
    border: 2px solid var(--primary-color);
    position: relative;
}

.main-step-three-confirm::before {
    filter: blur(2px) opacity(85%) grayscale(80%);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: url(../assets/7.jpg);
    background-size: cover;
    z-index: -1;
}

.main-step-three-confirm button {
    margin-top: 4em;
    font-size: 1em;
}

.main-step-three-confirm p {
    text-align: center;
    font-size: 1.2em;
    color: #fff;
    line-height: 1.5em;
}