* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

body {
  background-color: #eee;
}

:root {
  --primary-color: #839786;
  --primary-color-transparent: #839786a0;
  --primary-color-darker: #536155;
}

.title {
  font-family: 'Challista', cursive;
  font-size: 4.5em;
  color: #eee;
  text-align: center;
  font-weight: 100;
  position: relative;
}

@font-face {
  font-family: 'Challista';
  src: url('./fonts/Challista.ttf') format('truetype'),
        url('./fonts/Challista.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}

.primary-button {
  padding: .5em 1em;
  border-radius: 100px;
  font-size: 1.1em;
  color: #eee;
  background-color: var(--primary-color);
  transition: all 200ms;
}

.primary-button:hover {
  background-color: var(--primary-color-darker);
}

.secondary-button {
  padding: .5em 1em;
  border-radius: 100px;
  font-size: 1.1em;
  color: var(--primary-color);
  background-color: #eee;
  border: 1px solid var(--primary-color);
  transition: all 200ms;
}

.secondary-button:hover {
  background-color: var(--primary-color);
  color: #eee;
}