* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

.title {
  font-family: 'Challista', cursive;
  font-size: 4.5em;
  color: #fff;
  text-align: center;
  position: relative;
}

@font-face {
  font-family: 'Challista';
  src: url('./fonts/Challista.ttf') format('truetype'),
        url('./fonts/Challista.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}